 
# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/build

# dependencies
/node_modules
/bower_components

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store
Thumbs.db

#logs
/logs/*
*.log
*npm-debug*

bundle.js
yarn.lock



.idea
*.iml
*.log
*.csv
nohup.out
config/config.json 
scripts/nohup.out
scripts/*.out
data/*.json
data/mgmtobjects_status.json*
demodata/VPLEX/*.json
demodata/VPLEX/*.rar
demodata/VPLEX/*/*.json
demodatnohupa/VPLEX/*.gz 

__tests__/automation/data/*_result.json
__tests__/*.html
__tests__/coverage/base.css
__tests__/coverage/block-navigation.js
__tests__/coverage/favicon.png
__tests__/coverage/index.html
__tests__/coverage/prettify.css
__tests__/coverage/prettify.js
__tests__/coverage/sort-arrow-sprite.png
__tests__/coverage/sorter.js
__tests__/coverage/config/configger.js.html
__tests__/coverage/config/index.html 
__tests__/coverage/lib/*.html
__tests__/coverage/models/*.html   